<!DOCTYPE html>
<html>
 <head> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes,text/html; charset=utf-8" /> 
  <title>一十三重天</title> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" /> 
 </head> 
 <body> 
  <br /> 
  <br /> 
  <br /> 
  <br /> 
  <br /> 
  <br /> 
  <div id="main" align="center"> 
   <div align="center"> 
    <h1 align="center" style="color:#283c63;">一十三重天</h1> 
    <table id="rounded-corner" summary="2007 Major IT Companies' Profit"> 
     <tbody> 
 
      <tr> 
       <td align="center"> XX大陆，元气消散。
     </td> 
      </tr> 
      <tr> 
        <td align="center">  只有最优秀的人才能飞升上界，逃出生天。
      </td> 
       </tr> 
       <tr> 
        <td align="center"> 无法飞升的人只能化为虚无，归还元气给天地。
      </td> 
       </tr> 
       <tr> 
        <td align="center"> 如今，是元气复苏的{{index_str}}。
      </td> 
       </tr> 
       <tr> 
        <td align="center">  努力修炼，争取飞升。
      </td> 
       </tr> 
      
     </tbody> 
    </table> 
   </div> 
  </div> 
  <br /> 
  <br /> 
  <br /> 
  <br /> 
  <br /> 
  <div id="footer" align="center" class="footer"> 
    <a href="./user"><button>进入游戏</button> </a>   
  </div>  
 </body>
</html>